<div class="d-flex flex-column h-100 justify-content-center mb-4">
  <div class="container">
    <div class="row">
      <!-- This is a single column that is responsive -->
      <div class="col-12 col-md-9 offset-md-1">
        <div class="card">
          <div class="card-header card text-white bg-primary mb-3">Usuario</div>
          <div class="card-body">
            <!-- The formGroup 'form' is defined in the component class -->
            <form #quizForm="ngForm">
              <div class="row g-2">
                <label for="mail">Correo</label>
                <input
                  name="mail"
                  [(ngModel)]="mail"
                  class="form-control"
                  placeholder="Ingrese el Correo"
                  required
                />
              </div>

              <div class="row g-2">
                <label for="name">Nombre</label>
                <input
                  name="name"
                  [(ngModel)]="name"
                  class="form-control"
                  placeholder="Ingrese un Nombre"
                />
              </div>

              <div class="row g-2">
                <label for="surname">Apellido</label>
                <input
                  name="surname"
                  [(ngModel)]="surname"
                  class="form-control"
                  placeholder="Ingrese un apellido"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="form-group">
              <div class="d-flex justify-content-between ml-2">
                <div>
                  <button
                    class="btn btn-secondary"
                    onclick="window.history.back();"
                    type="submit"
                  >
                    Cancelar
                  </button>
                </div>

                <!-- The button has a click handler, it will be disabled if the form is not valid -->

                <button
                  (click)="update()"
                  type="submit"
                  [disabled]="!quizForm.form.valid"
                  class="btn btn-success"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
