<div class="col-md-6 offset-md-3" style="padding-top: 2em">
  <div class="card mb-3">
    <div class="card-header">
      <i class="far fa-address-card"></i> Cuenta De Usuario
    </div>
    <div class="card-body">
      <h5 class="card-title">Nombre de usuario <i class="far fa-user"></i></h5>
      <p class="card-text">{{ user?.username }}</p>
      <h5 class="card-title">Correo <i class="far fa-envelope"></i></h5>
      <p class="card-text">{{ user?.mail }}</p>
      <h5 class="card-title">Nombre <i class="fas fa-id-card"></i></h5>
      <p class="card-text">{{ user?.name }}</p>
      <h5 class="card-title">Apellido <i class="fas fa-id-card"></i></h5>
      <p class="card-text">{{ user?.surname }}</p>
      <button
        routerLink="/editarCuenta"
        class="btn btn-warning"
        style="float: right"
      >
        Editar <i class="far fa-edit"></i>
      </button>
    </div>
  </div>
</div>
