<div class="d-flex flex-column h-100 justify-content-center mb-4">
  <div class="container">
    <div class="row">
      <!-- This is a single column that is responsive -->
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header card text-white bg-primary mb-3">
            Iniciar Sesión
          </div>
          <div class="card-body">
            <!-- The formGroup 'form' is defined in the component class -->
            <form #quizForm="ngForm">
              <div class="form-group">
                <label for="telefono">Nombre de usuario</label>
                <!-- The formControlName defines the name of the field in the formGroup -->
                <input
                  name="username"
                  [(ngModel)]="user.username"
                  class="form-control"
                  placeholder="Ingrese el nombre de usuario"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">clave</label>
                <input
                  name="password"
                  [(ngModel)]="user.password"
                  type="password"
                  class="form-control"
                  placeholder="Ingrese la contraseña"
                  required
                />
              </div>
            </form>

            <div class="card-footer">
              <div class="d-flex justify-content-between ml-2">
                <a routerLink="/registrarse" class="ml-2"> Registrarse!</a>
                <!-- The button has a click handler, it will be disabled if the form is not valid -->
                <button
                  (click)="authenticate()"
                  [disabled]="!quizForm.form.valid"
                  type="submit"
                  class="btn btn-success"
                >
                  Iniciar Sesión
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
